# Ignore everything in the config directory except config_example.yml
config/*
!config/config_example.yml

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled binaries
bin/*
!bin/.gitkeep

# Ignore Makefile (sorry I dont want to share it)
Makefile